body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-x: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    width: auto;
    min-width: 65px;
    padding: 8px;
    text-align: center;
}

.matrix-input .matrix-output {
    width: 100%;
    border: none;
    text-align: center;
}

.table-operations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.table-operations input[type="number"] {
    padding: 6px 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: auto;
}

.table-operations button {
    margin: 10px 0px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    width: auto;
}

.table-operations label {
    margin: 10px 0px;
}

.table-operations button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.width-limited {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.full-screen-toggle-switch {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 999;
}

.full-screen-toggle-switch label {
  margin-right: 10px;
}

.full-screen-toggle-switch input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #ccc;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.full-screen-toggle-switch input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  top: 1px;
  left: 1px;
  transition: 0.4s;
}

.full-screen-toggle-switch input[type="checkbox"]:checked {
  background: #007BFF;
}

.full-screen-toggle-switch input[type="checkbox"]:checked::before {
  left: 21px;
}

@media (min-width: 1200px) {
    input[type="number"],
    input[type="text"]
}
