<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLR Construction</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="full-screen-toggle-switch">
            <label for="fullScreenToggle">Full Screen</label>
            <input type="checkbox" id="fullScreenToggle">
        </div>

        <div class="width-limited">
            <div class="input-group">
                <label for="numIndependentVariables">Number of Independent Variables</label>
                <input type="number" id="numIndependentVariables" placeholder="Enter a number from 1 up to 100" min="1" max="100" onkeydown="validateNumberInput(this, event)">
            </div>

            <div class="input-group">
                <label for="numExperimentGroups">Number of Experiment Groups</label>
                <input type="number" id="numExperimentGroups" placeholder="Enter a number from 2 up to 100" min="1" max="100" onkeydown="validateNumberInput(this, event)">
            </div>

            <div class="input-group">
                <label for="experimentsPerGroup">Experiments in a Single Group</label>
                <input type="number" id="experimentsPerGroup" placeholder="Enter a number from 1 up to 100" min="1" max="100" onkeydown="validateNumberInput(this, event)">
            </div>

            <div class="input-group">
                <label for="initialStepsExperimentGroups">Experiment Groups for Initial Steps</label>
                <input type="number" id="initialStepsExperimentGroups" placeholder="Enter a number from 1 up to 100" min="1" max="100" onkeydown="validateNumberInput(this, event)">
            </div>
        </div>

        <div id="coefficientsGroup" class="hidden input-group">
            <h2>Coefficients</h2>
            <table id="coefficientsTable">
            </table>
            <div class="range-inputs width-limited">
                <input type="number" id="startRangeInput" placeholder="Start Range">
                <input type="number" id="endRangeInput" placeholder="End Range">
                <label for="integerCheckbox">
                    <input type="checkbox" id="integerCheckbox" /> Integer Numbers
                </label>
                <button id="generateRandomNumbersButton">
                    Generate random numbers in range
                </button>
            </div>
        </div>

        <div id="errorsGroup" class="hidden input-group">
            <h2>Errors</h2>
            <table id="errorsTable">
            </table>
            <div class="errors-generate-numbers-inputs width-limited">
                <input type="number" id="meanInput" placeholder="Mean">
                <input type="number" id="stdDevInput" placeholder="Standard Deviation">
                <button id="generateNormallyDistributedRandomNumbersButton">
                    Generate normally distributed random numbers
                </button>
            </div>
        </div>

        <div id="independentVariablesGroup" class="hidden input-group">
            <h2>Independent Variables</h2>
            <table id="independentVariablesTable">
            </table>
            <div class="range-inputs width-limited">
                <input type="number" id="startRangeInputIV" placeholder="Start Range">
                <input type="number" id="endRangeInputIV" placeholder="End Range">
                <label for="integerCheckboxIV">
                    <input type="checkbox" id="integerCheckboxIV" /> Integer Numbers
                </label>
                <button id="generateRandomNumbersButtonIV">
                    Generate random numbers in range
                </button>
            </div>
        </div>

        <div id="resultsGroup" class="hidden">
            <h1>RESULTS</h1>
            <h3>Coefficients</h3>
            <table id="resultsTable">
            </table>
            <h3>Comparison Value By Pavlov Method: <span id="comparisonValueByPavlov"></span></h3>
            <h3>Number Of Initial Zero Coefficients: <span id="numberOfInitialZeroCoefficients"></span></h3>
            <h3>Number Of Calculated Zero Coefficients: <span id="numberOfCalculatedZeroCoefficients"></span></h3>
        </div>

        <div class="width-limited">
            <button id="generateResultsButton">
                Generate results
            </button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
