<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLR Construction</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="full-screen-toggle-switch">
            <label for="fullScreenToggle">Full Screen</label>
            <input type="checkbox" id="fullScreenToggle">
        </div>

        <div class="width-limited">
            <div class="input-group">
                <label for="numIndependentVariables">Number of Independent Variables</label>
                <input type="number" id="numIndependentVariables" placeholder="Enter a number from 1 up to 100" min="1" max="100" onkeydown="validateNumberInput(this, event)">
            </div>

            <div class="input-group">
                <label for="experimentsPerGroup">Number of Experiments</label>
                <input type="number" id="experimentsPerGroup" placeholder="Enter a number from 1 up to 100" min="1" max="100" onkeydown="validateNumberInput(this, event)">
            </div>

            <div class="input-group">
                <label for="repetitionsNumberOfActiveExperiments">Repetitions Number of Active Experiments</label>
                <input type="number" id="repetitionsNumberOfActiveExperiments" placeholder="Enter a number from 1 up to 100" min="1" max="100" onkeydown="validateNumberInput(this, event)">
            </div>

            <div class="input-group">
                <label for="numberOfValidationSequences">Number of validation sequences</label>
                <input type="number" id="numberOfValidationSequences" placeholder="Enter a number from 1 up to 100" min="1" max="100" onkeydown="validateNumberInput(this, event)">
            </div>

        </div>

        <div id="coefficientsGroup" class="hidden input-group">
            <h2>Coefficients</h2>
            <table id="coefficientsTable">
            </table>
            <div class="table-operations width-limited">
                <button id="copyCoefficients" data-table-id="coefficientsTable">
                    Copy to clipboard
                </button>
                <label for="startRangeInput">Generate random numbers in range</label>
                <input type="number" id="startRangeInput" placeholder="Start Range (inclusively)">
                <input type="number" id="endRangeInput" placeholder="End Range (exclusively)">
                <label for="integerCheckbox">
                    <input type="checkbox" id="integerCheckbox" /> Integer Numbers
                </label>
                <button id="generateRandomNumbersButton">
                    Generate
                </button>
                <h2>OR</h2>
                <label for="jsonMatrixForCoefficients">Import via JSON matrix</label>
                <textarea id="jsonMatrixForCoefficients"></textarea>
                <button id="importJsonMatrixForCoefficients" data-table-id="coefficientsTable"
                        data-textarea-id="jsonMatrixForCoefficients" data-rows="" data-columns="">
                    Import
                </button>
            </div>
        </div>

        <div id="independentVariablesGroup" class="hidden input-group">
            <h2>Independent Variables</h2>
            <table id="independentVariablesTable">
            </table>
            <div class="table-operations width-limited">
                <button id="copyIndependentVariables" data-table-id="independentVariablesTable">
                    Copy to clipboard
                </button>
                <label for="startRangeInputIV">Generate random numbers in range</label>
                <input type="number" id="startRangeInputIV" placeholder="Start Range (inclusively)">
                <input type="number" id="endRangeInputIV" placeholder="End Range (exclusively)">
                <label for="integerCheckboxIV">
                    <input type="checkbox" id="integerCheckboxIV" /> Integer Numbers
                </label>
                <button id="generateRandomNumbersButtonIV">
                    Generate
                </button>
                <h2>OR</h2>
                <label for="jsonMatrixForIndependentVariables">Import via JSON matrix</label>
                <textarea id="jsonMatrixForIndependentVariables"></textarea>
                <button id="importJsonMatrixForIndependentVariables" data-table-id="independentVariablesTable"
                        data-textarea-id="jsonMatrixForIndependentVariables" data-rows="" data-columns="">
                    Import
                </button>
            </div>
        </div>

        <div id="errorsGroup" class="hidden input-group">
            <h2>Errors</h2>
            <table id="errorsTable">
            </table>
            <div class="table-operations width-limited">
                <button id="copyErrors" data-table-id="errorsTable">
                    Copy to clipboard
                </button>
                <label for="meanInput">Generate normally distributed random numbers</label>
                <input type="number" id="meanInput" placeholder="Mean">
                <input type="number" id="stdDevInput" placeholder="Standard Deviation">
                <button id="generateNormallyDistributedRandomNumbersButton">
                    Generate
                </button>
                <h2>OR</h2>
                <label for="jsonMatrixForErrors">Import via JSON matrix</label>
                <textarea id="jsonMatrixForErrors"></textarea>
                <button id="importJsonMatrixForErrors" data-table-id="errorsTable"
                        data-textarea-id="jsonMatrixForErrors" data-rows="" data-columns="">
                    Import
                </button>
            </div>
        </div>

        <div id="resultsGroup" class="hidden">
            <hr/>
            <h1>RESULTS</h1>
            <h3>Coefficients</h3>
            <table id="resultsTable">
            </table>
            <div class="table-operations">
                <button id="copyResults" data-table-id="resultsTable">
                    Copy to clipboard
                </button>
            </div>
            <h3>Comparison Value by Pavlov Method: <span id="comparisonValueByPavlov"></span></h3>
            <h3>Number of Initial Zero Coefficients: <span id="numberOfInitialZeroCoefficients"></span></h3>
            <h3>Number of Calculated Zero Coefficients: <span id="numberOfCalculatedZeroCoefficients"></span></h3>
        </div>

        <div class="width-limited">
            <button id="generateResultsButton">
                Generate results
            </button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
